<div class="film-card">
  <mat-card>
    <span class="year">{{release_date | truncate:4:false:''}}</span>

    <mat-card-actions>
      <div><span><mat-icon >bookmark</mat-icon></span></div>
      <div (click)="favoriteToggle()" class="favorBtn">
        <span title="Add to favorites" *ngIf="!favorite; else removeFav"><mat-icon>favorite_border</mat-icon></span>
        <ng-template #removeFav>
          <span title="Remove from favorites"><mat-icon>favorite</mat-icon></span>
        </ng-template>
      </div>
    </mat-card-actions>

    <img mat-card-image src="{{poster}}" alt="Photo of {{title}}">

    <mat-card-header>
      <mat-card-title><strong>{{title}}</strong></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>{{overview | truncate:150 }}</p>
    </mat-card-content>
  </mat-card>
</div>
