@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

/*mat-card {*/
    /*max-width: 80%;*/
    /*margin: 2em auto;*/
    /*text-align: center;*/
/*}*/

*{
    box-sizing: border-box;
}
.container, .row, .coll{
    box-sizing: border-box;
}

.container{
    width: 100%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.dropdown{
    position: relative;
}
.dropdown-toggle{
    cursor: pointer;
    font-size: 0.9rem;
}
.dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-toggle:active+.dropdown-menu, .dropdown-toggle:focus+.dropdown-menu, .dropdown-menu:hover{
    display: flex;
}
.dropdown-menu{
    position: absolute;
    top: 100%; right: 0;
    display: none;
    flex-direction: column;

    background: white;
    padding: 0.5rem 0;
    /*min-width: 10rem;*/

    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    z-index: 1001;
}
.dropdown-item{
    text-align: inherit;
    white-space: nowrap;
    width: 100%;
    padding: .25rem 1.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: #212529;
    text-decoration: none;
    cursor: pointer;
}
.dropdown-item:hover{
    background: #f5f5f5;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}