.example-card {
    max-width: 300px;
}
.menu-card {
    padding: 0px;
    /*max-width: 1050px;*/
    margin: 0 auto;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 1000;
}
.menu-toolbar {
    font-size: 1rem;
    background-color: white;
}
.example-spacer {
    flex: 1 1 auto;
}
mat-toolbar-row{
    height: auto;
    padding: 8px 24px;
}
mat-toolbar mat-form-field{
    font-size: 0.9rem;
    width: 80px;
}

.row{
    justify-content: center;
    align-items: stretch;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

film-item{
    /*padding: 15px;*/
    /*padding: 24px 36px;*/
    box-sizing: border-box;
    max-width: 33.33333%;
    padding: 15px;
}

person-item{
    width: 20%;
    padding: 15px;
}

.search-form-field {
    width: 250px!important;
    padding: 0 1.5rem;
}